html{
  background-color: #dbd6cf;
}

h1 {
  color:#79756f;
  font-size: 2rem;
  font-family: 'Alfa Slab One', cursive;
  }

h2 {
    color:#79756f;
    font-size: 1.5rem;
    font-family: 'Alfa Slab One';
  }

h3 {
    color:#79756f;
    font-size: 1rem;
    font-family: 'Alfa Slab One';
  }

  a {
    color: #803837;
  }

  a:hover {
    color: #ff3333;
  }

blockquote {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 1.5rem;
}

footer {
  color:#79756f;
  font-size: 0.5rem;
  text-align: right;

}

ol {
  list-style-type: lower roman;
  text-align: left;
  padding: 0;
}

p {
  color:#222222;
  font-size: 1rem;
  font-family: 'Arial'
}
